body{
    background: #5E5B7B;
    padding: 5%;
    transition:all 0.5s ease;
     font-family: 'Poppins';

}
::-webkit-scrollbar {
    display: none;
}
#D_div{
    width: 75% !important;
}
.desc {
    font-size: 40px;
    color: #FFFFFF;
    line-height: 46px;
    letter-spacing: 0.12px;
    margin-bottom: 0px;
    font-weight: normal;
}
.chartbtn{
    padding: 7px 7px;
}
label{
    font-size: 22px;
    line-height: 31px;
    text-align: left;
}
optoin:first{
    font-size:16px;
}
#desc{
    margin-top: 22px;
}
.logo{
    width: 122px;
    margin-right: 15px;
}
.w-122{
    width: 122px;
}
.shrinklogo{
    width: 122px;
}
.card{
    width: 100%;
    /* height: 600px; */
    background-color: #FFFFFF;
    border-radius: 8px;
    margin-top: 20px;
    padding: 3%;
}
.w-45{
    width: 44%;
}
.align-center{
    display: flex;
    align-items: center;
}
.cardtitle{
    color: #000000;
    font-size: 24px;
    font-weight: 600;
}
.justify-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.dark-circle{
    height: 55px;
    width: 55px;
    background-color: #131215;
    border: solid 1px #131215;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 30px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-outline-primary {
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1.56px;
}
tbody{
    font-size: 16px;
    font-weight: 600;
}
.convert-btn{
    height: 55px;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.56px;
    margin-top: 30px;
    border-radius: 8px;
}
.convert-btn:disabled{
background-color: #C4C4C4;
border: solid 1px #C4C4C4;
color: #A4A4A4;
}
.form-control{
background-color: #F0F1F9;
border: solid 1px #2F38E3;
border-radius: 8px;
height: 55px;
font-size: 20px;
color: #000000;
width: 100% !important;
}
.mb-16{
    margin-bottom: 16px !important;
}
.green-text {
    font-size: 60px;
    color: #00AB5E;
    font-weight: 600;
    line-height: 84px;
    margin-bottom: 0px;
    text-align: center;
}
#expanded{
    text-align: center;
    margin-top: 20px;
}
.grey-text{  
    font-size: 18px;
    color: #9694B2;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 0px;
    text-align: center;
}
.grey-normal{
    font-size: 16px;
    color: #9694B2;
    line-height: 26px;
    margin-bottom: 0px;
    text-align: center;
}
.spinner-border{
display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: .25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}
@keyframes spinner-border {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }


.center-logo{
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
    z-index: 1;
   
}
.logotext{
    font-size: 95px;
    width: 50%;
    line-height: 100px;
    color: #fff;
    transition: border-color 0.66s ease-out, font-size 0.3s ease-out;
}
.logotextsmall{
    font-size: 22px;
    width: 50%;
    line-height: 25px;
    color: #fff;
  
}




.form-control:focus{
background-color: #F0F1F9;
border: solid 1px #2F38E3;
}
.flag-class{
    width: 38px;
    height: 23px;
    border:solid 1px #ccc;
}
.btn-align-left{
    text-align: left;
}
.btn-align-right{
    text-align: right;
}
.mrt-40{
    margin-top: 40px;
}
.closebtn{
    height: 46px;
    width: 100px;
    letter-spacing: 1.56px;
}
.tabelhead{
    background: #525AEE;
    color: #fff;
    font-size: 14px;
}
input[type=search] {
    border: solid 1px #bcbcbc;
    border-radius: 8px;
}
input[type=search]:focus {
    border: solid 1px #bcbcbc;
    border-radius: 8px;
 
    outline: 0px;
}
@media only screen   
and (min-device-width : 320px)   
and (max-device-width : 680px)  
{
    .shiftto {
        width: 236px;
        margin-left: 20px;
    }
    .logo{
        width: 60px;
        margin-right: 5px;
    }
    .logotext{
        font-size: 48px;
        line-height: 50px;
    }
    .desc{
        font-size: 20px;
        color: #FFFFFF;
        line-height: 26px;
        letter-spacing: 0.12px;
        margin-bottom: 0px;
        font-weight: normal;
    }
    label{
        font-size: 16px;
        line-height: 23px;
    }
    .btn-align-left{
        text-align: center;
    }
    .btn-align-right{
        text-align: center;
    }
    .mrt-40{
        margin-top: 30px;
    }
    .mob-btn{
        width: 233px;
        margin-bottom: 15px;
    }
    .cardtitle {
        color: #000000;
        font-size: 17px;
    }
    @keyframes myfirst {
        0% {
          transform: translate(0, 0);
        }
      
        100% {
            transform: translate(-50px,-230px);
        }
      }
    
}
