{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Forex Vision</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css">



    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        /* Add a gray background color and some padding to the footer */
        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }

        form {
            text-align: center;
        }
    </style>
</head>

<body>
    <!-- <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" style="font-size: x-large;">Forex Vision</a>
            </div>
        </div>
    </nav> -->
    <div>
        <img alt="logo" src="{% static 'logo.svg' %}" class="shrinklogo">

    </div>
    <div id="desc">
        <h1 class="desc">One site for all your real time </h1>
        <h2 class="desc">currency exchange story teller.</h2>
    </div>
    <div class="card">



        <form name="SelectForm" class="form-inline" action="ExchangeCurr" method="POST">
            <div class="row">
                {% csrf_token %}

                <div class="col-xl-3 col-md-3 col-lg-3 col-sm-12">
                    <div class="form-group" id="UserAmount">
                        <label for="amt">I have</label>
                        <input type="number" min="1" name="amount" value="{{ request.POST.amount}}" class="form-control"
                            id="amt" placeholder="Enter Amount">
                    </div>
                </div>
                <div class="col-xl-7 col-md-7 col-lg-7 col-sm-12 align-center">
                    <div class="form-group w-45" id="UserBaseCurr">
                        <label for="currencyListBase">In</label>
                        <select name="baseCurr" class="form-control" value="{{ request.POST.baseCurr}}"
                            id="currencyListBase">
                            <option value="" disabled selected>From</option>
                            <option value="INR" {% if base  == "INR" %}selected{%endif%} label="Indian rupee">INR
                            </option>
                            <option value="USD" {% if base  == "USD" %}selected{%endif%} label="US dollar">USD
                            </option>
                            <option value="EUR" {% if base  == "EUR" %}selected{%endif%} label="Euro">EUR</option>
                            <option value="JPY" {% if base  == "JPY" %}selected{%endif%} label="Japanese yen">JPY
                            </option>
                            <option value="GBP" {% if base  == "GBP" %}selected{%endif%} label="Pound sterling">GBP
                            </option>
                            <option value="AUD" {% if base  == "AUD" %}selected{%endif%} label="Australian dollar">
                                AUD
                            </option>
                            <option value="CAD" {% if base  == "CAD" %}selected{%endif%} label="Canadian dollar">CAD
                            </option>
                            <option disabled>──────────</option>
                            <option value="AED" {% if base  == "AED" %}selected{%endif%}
                                label="United Arab Emirates dirham">AED</option>
                            <option value="AFN" {% if base  == "AFN" %}selected{%endif%} label="Afghan afghani">AFN
                            </option>
                            <option value="ALL" {% if base  == "ALL" %}selected{%endif%} label="Albanian lek">ALL
                            </option>
                            <option value="AMD" {% if base  == "AMD" %}selected{%endif%} label="Armenian dram">AMD
                            </option>
                            <option value="ANG" {% if base  == "ANG" %}selected{%endif%}
                                label="Netherlands Antillean guilder">ANG</option>
                            <option value="AOA" {% if base  == "AOA" %}selected{%endif%} label="Angolan kwanza">AOA
                            </option>
                            <option value="ARS" {% if base  == "ARS" %}selected{%endif%} label="Argentine peso">ARS
                            </option>
                            <option value="AUD" {% if base  == "AUD" %}selected{%endif%} label="Australian dollar">
                                AUD
                            </option>
                            <option value="AWG" {% if base  == "AWG" %}selected{%endif%} label="Aruban florin">AWG
                            </option>
                            <option value="AZN" {% if base  == "AZN" %}selected{%endif%} label="Azerbaijani manat">
                                AZN
                            </option>

                            <option value="BRL" {% if base  == "BRL" %}selected{%endif%} label="Brazilian real">BRL
                            </option>
                            <option value="BSD" {% if base  == "BSD" %}selected{%endif%} label="Bahamian dollar">BSD
                            </option>

                            <option value="CAD" {% if base  == "CAD" %}selected{%endif%} label="Canadian dollar">CAD
                            </option>

                            <option value="CHF" {% if base  == "CHF" %}selected{%endif%} label="Swiss franc">CHF
                            </option>

                            <option value="CNY" {% if base  == "CNY" %}selected{%endif%} label="Chinese yuan">CNY
                            </option>
                            <option value="COP" {% if base  == "COP" %}selected{%endif%} label="Colombian peso">COP
                            </option>

                            <option value="EGP" {% if base  == "EGP" %}selected{%endif%} label="Egyptian pound">EGP
                            </option>

                            <option value="EUR" {% if base  == "EUR" %}selected{%endif%} label="EURO">EUR</option>

                            <option value="GBP" {% if base  == "GBP" %}selected{%endif%} label="British pound">GBP
                            </option>

                            <option value="HKD" {% if base  == "HKD" %}selected{%endif%} label="Hong Kong dollar">HKD
                            </option>

                            <option value="IDR" {% if base  == "IDR" %}selected{%endif%} label="Indonesian rupiah">
                                IDR
                            </option>
                            <option value="ILS" {% if base  == "ILS" %}selected{%endif%} label="Israeli new shekel">
                                ILS
                            </option>

                            <option value="INR" {% if base  == "INR" %}selected{%endif%} label="Indian rupee">INR
                            </option>
                            <option value="IQD" {% if base  == "IQD" %}selected{%endif%} label="Iraqi dinar">IQD
                            </option>
                            <option value="IRR" {% if base  == "IRR" %}selected{%endif%} label="Iranian rial">IRR
                            </option>

                            <option value="JPY" {% if base  == "JPY" %}selected{%endif%} label="Japanese yen">JPY
                            </option>
                            <option value="KPW" {% if base  == "KPW" %}selected{%endif%} label="North Korean won">KPW
                            </option>
                            <option value="KRW" {% if base  == "KRW" %}selected{%endif%} label="South Korean won">KRW
                            </option>
                            <option value="KWD" {% if base  == "KWD" %}selected{%endif%} label="Kuwaiti dinar">KWD
                            </option>
                            <option value="KYD" {% if base  == "KYD" %}selected{%endif%}
                                label="Cayman Islands dollar">
                                KYD</option>

                            <option value="LKR" {% if base  == "LKR" %}selected{%endif%} label="Sri Lankan rupee">LKR
                            </option>
                            <option value="LRD" {% if base  == "LRD" %}selected{%endif%} label="Liberian dollar">LRD
                            </option>

                            <option value="MRU" {% if base  == "MRU" %}selected{%endif%} label="Mauritanian ouguiya">
                                MRU
                            </option>
                            <option value="MUR" {% if base  == "MUR" %}selected{%endif%} label="Mauritian rupee">MUR
                            </option>
                            <option value="MVR" {% if base  == "MVR" %}selected{%endif%} label="Maldivian rufiyaa">
                                MVR
                            </option>
                            <option value="MWK" {% if base  == "MWK" %}selected{%endif%} label="Malawian kwacha">MWK
                            </option>
                            <option value="MXN" {% if base  == "MXN" %}selected{%endif%} label="Mexican peso">MXN
                            </option>
                            <option value="MYR" {% if base  == "MYR" %}selected{%endif%} label="Malaysian ringgit">
                                MYR
                            </option>

                            <option value="NZD" {% if base  == "NZD" %}selected{%endif%} label="New Zealand dollar">
                                NZD
                            </option>
                            <option value="OMR" {% if base  == "OMR" %}selected{%endif%} label="Omani rial">OMR
                            </option>

                            <option value="PHP" {% if base  == "PHP" %}selected{%endif%} label="Philippine peso">PHP
                            </option>
                            <option value="PKR" {% if base  == "PKR" %}selected{%endif%} label="Pakistani rupee">PKR
                            </option>

                            <option value="QAR" {% if base  == "QAR" %}selected{%endif%} label="Qatari riyal">QAR
                            </option>
                            <option value="RON" {% if base  == "RON" %}selected{%endif%} label="Romanian leu">RON
                            </option>
                            <option value="RON" {% if base  == "RON" %}selected{%endif%} label="Romanian leu">RON
                            </option>
                            <option value="RSD" {% if base  == "RSD" %}selected{%endif%} label="Serbian dinar">RSD
                            </option>
                            <option value="RUB" {% if base  == "RUB" %}selected{%endif%} label="Russian ruble">RUB
                            </option>

                            <option value="SGD" {% if base  == "SGD" %}selected{%endif%} label="Singapore dollar">SGD
                            </option>

                            <option value="SYP" {% if base  == "SYP" %}selected{%endif%} label="Syrian pound">SYP
                            </option>

                            <option value="TMT" {% if base  == "TMT" %}selected{%endif%} label="Turkmenistan manat">
                                TMT
                            </option>

                            <option value="TRY" {% if base  == "TRY" %}selected{%endif%} label="Turkish lira">TRY
                            </option>
                            <option value="TTD" {% if base  == "TTD" %}selected{%endif%}
                                label="Trinidad and Tobago dollar">TTD</option>
                            <option value="TVD" {% if base  == "TVD" %}selected{%endif%} label="Tuvaluan dollar">TVD
                            </option>
                            <option value="TWD" {% if base  == "TWD" %}selected{%endif%} label="New Taiwan dollar">
                                TWD
                            </option>
                            <option value="TZS" {% if base  == "TZS" %}selected{%endif%} label="Tanzanian shilling">
                                TZS
                            </option>
                            <option value="UAH" {% if base  == "UAH" %}selected{%endif%} label="Ukrainian hryvnia">
                                UAH
                            </option>
                            <option value="UGX" {% if base  == "UGX" %}selected{%endif%} label="Ugandan shilling">UGX
                            </option>
                            <option value="UYU" {% if base  == "UYU" %}selected{%endif%} label="Uruguayan peso">UYU
                            </option>
                            <option value="UZS" {% if base  == "UZS" %}selected{%endif%} label="Uzbekistani soʻm">UZS
                            </option>
                            <option value="VES" {% if base  == "VES" %}selected{%endif%}
                                label="Venezuelan bolívar soberano">VES</option>
                            <option value="VND" {% if base  == "VND" %}selected{%endif%} label="Vietnamese đồng">VND
                            </option>
                            <option value="VUV" {% if base  == "VUV" %}selected{%endif%} label="Vanuatu vatu">VUV
                            </option>
                            <option value="WST" {% if base  == "WST" %}selected{%endif%} label="Samoan tālā">WST
                            </option>
                            <option value="XAF" {% if base  == "XAF" %}selected{%endif%}
                                label="Central African CFA franc">XAF</option>
                            <option value="XCD" {% if base  == "XCD" %}selected{%endif%}
                                label="Eastern Caribbean dollar">XCD</option>
                            <option value="XOF" {% if base  == "XOF" %}selected{%endif%}
                                label="West African CFA franc">
                                XOF</option>
                            <option value="XPF" {% if base  == "XPF" %}selected{%endif%} label="CFP franc">XPF
                            </option>
                            <option value="ZAR" {% if base  == "ZAR" %}selected{%endif%} label="South African rand">
                                ZAR
                            </option>
                            <option value="ZMW" {% if base  == "ZMW" %}selected{%endif%} label="Zambian kwacha">ZMW
                            </option>
                            <option value="ZWB" {% if base  == "ZWB" %}selected{%endif%} label="Zimbabwean bonds">ZWB
                            </option>
                        </select>
                    </div>

                    <div class="rounded-circle dark-circle" id="flipIcon">
                        <img id="switch" src="{% static 'arrow.svg' %}" alt="Swap" />
                    </div>

                    <div class="form-group w-45" id="UserCounterCurr">
                        <label for="currencyListCounter">Convert Into</label>
                        <select name="counterCurr" class="form-control" value="{{ request.POST.counterCurr}}"
                        id="currencyListCounter">
                        <option value="" disabled selected>To</option>
                        <option value="INR" {% if counter  == "INR" %}selected{%endif%} label="Indian rupee">INR
                        </option>
                        <option value="USD" {% if counter  == "USD" %}selected{%endif%} label="US dollar">USD
                        </option>
                        <option value="EUR" {% if counter  == "EUR" %}selected{%endif%} label="Euro">EUR</option>
                        <option value="JPY" {% if counter  == "JPY" %}selected{%endif%} label="Japanese yen">JPY
                        </option>
                        <option value="GBP" {% if counter  == "GBP" %}selected{%endif%} label="Pound sterling">GBP
                        </option>
                        <option value="AUD" {% if counter  == "AUD" %}selected{%endif%} label="Australian dollar">
                            AUD
                        </option>
                        <option value="CAD" {% if counter  == "CAD" %}selected{%endif%} label="Canadian dollar">CAD
                        </option>
                        <option disabled>──────────</option>
                        <option value="AED" {% if counter  == "AED" %}selected{%endif%}
                            label="United Arab Emirates dirham">AED</option>
                        <option value="AFN" {% if counter  == "AFN" %}selected{%endif%} label="Afghan afghani">AFN
                        </option>
                        <option value="ALL" {% if counter  == "ALL" %}selected{%endif%} label="Albanian lek">ALL
                        </option>
                        <option value="AMD" {% if counter  == "AMD" %}selected{%endif%} label="Armenian dram">AMD
                        </option>
                        <option value="ANG" {% if counter  == "ANG" %}selected{%endif%}
                            label="Netherlands Antillean guilder">ANG</option>
                        <option value="AOA" {% if counter  == "AOA" %}selected{%endif%} label="Angolan kwanza">AOA
                        </option>
                        <option value="ARS" {% if counter  == "ARS" %}selected{%endif%} label="Argentine peso">ARS
                        </option>
                        <option value="AUD" {% if counter  == "AUD" %}selected{%endif%} label="Australian dollar">
                            AUD
                        </option>
                        <option value="AWG" {% if counter  == "AWG" %}selected{%endif%} label="Aruban florin">AWG
                        </option>
                        <option value="AZN" {% if counter  == "AZN" %}selected{%endif%} label="Azerbaijani manat">
                            AZN
                        </option>

                        <option value="BRL" {% if counter  == "BRL" %}selected{%endif%} label="Brazilian real">BRL
                        </option>
                        <option value="BSD" {% if counter  == "BSD" %}selected{%endif%} label="Bahamian dollar">BSD
                        </option>

                        <option value="CAD" {% if counter  == "CAD" %}selected{%endif%} label="Canadian dollar">CAD
                        </option>

                        <option value="CHF" {% if counter  == "CHF" %}selected{%endif%} label="Swiss franc">CHF
                        </option>

                        <option value="CNY" {% if counter  == "CNY" %}selected{%endif%} label="Chinese yuan">CNY
                        </option>
                        <option value="COP" {% if counter  == "COP" %}selected{%endif%} label="Colombian peso">COP
                        </option>

                        <option value="EGP" {% if counter  == "EGP" %}selected{%endif%} label="Egyptian pound">EGP
                        </option>

                        <option value="EUR" {% if counter  == "EUR" %}selected{%endif%} label="EURO">EUR</option>

                        <option value="GBP" {% if counter  == "GBP" %}selected{%endif%} label="British pound">GBP
                        </option>

                        <option value="HKD" {% if counter  == "HKD" %}selected{%endif%} label="Hong Kong dollar">HKD
                        </option>

                        <option value="IDR" {% if counter  == "IDR" %}selected{%endif%} label="Indonesian rupiah">
                            IDR
                        </option>
                        <option value="ILS" {% if counter  == "ILS" %}selected{%endif%} label="Israeli new shekel">
                            ILS
                        </option>

                        <option value="INR" {% if counter  == "INR" %}selected{%endif%} label="Indian rupee">INR
                        </option>
                        <option value="IQD" {% if counter  == "IQD" %}selected{%endif%} label="Iraqi dinar">IQD
                        </option>
                        <option value="IRR" {% if counter  == "IRR" %}selected{%endif%} label="Iranian rial">IRR
                        </option>

                        <option value="JPY" {% if counter  == "JPY" %}selected{%endif%} label="Japanese yen">JPY
                        </option>
                        <option value="KPW" {% if counter  == "KPW" %}selected{%endif%} label="North Korean won">KPW
                        </option>
                        <option value="KRW" {% if counter  == "KRW" %}selected{%endif%} label="South Korean won">KRW
                        </option>
                        <option value="KWD" {% if counter  == "KWD" %}selected{%endif%} label="Kuwaiti dinar">KWD
                        </option>
                        <option value="KYD" {% if counter  == "KYD" %}selected{%endif%}
                            label="Cayman Islands dollar">
                            KYD</option>

                        <option value="LKR" {% if counter  == "LKR" %}selected{%endif%} label="Sri Lankan rupee">LKR
                        </option>
                        <option value="LRD" {% if counter  == "LRD" %}selected{%endif%} label="Liberian dollar">LRD
                        </option>

                        <option value="MRU" {% if counter  == "MRU" %}selected{%endif%} label="Mauritanian ouguiya">
                            MRU
                        </option>
                        <option value="MUR" {% if counter  == "MUR" %}selected{%endif%} label="Mauritian rupee">MUR
                        </option>
                        <option value="MVR" {% if counter  == "MVR" %}selected{%endif%} label="Maldivian rufiyaa">
                            MVR
                        </option>
                        <option value="MWK" {% if counter  == "MWK" %}selected{%endif%} label="Malawian kwacha">MWK
                        </option>
                        <option value="MXN" {% if counter  == "MXN" %}selected{%endif%} label="Mexican peso">MXN
                        </option>
                        <option value="MYR" {% if counter  == "MYR" %}selected{%endif%} label="Malaysian ringgit">
                            MYR
                        </option>

                        <option value="NZD" {% if counter  == "NZD" %}selected{%endif%} label="New Zealand dollar">
                            NZD
                        </option>
                        <option value="OMR" {% if counter  == "OMR" %}selected{%endif%} label="Omani rial">OMR
                        </option>

                        <option value="PHP" {% if counter  == "PHP" %}selected{%endif%} label="Philippine peso">PHP
                        </option>
                        <option value="PKR" {% if counter  == "PKR" %}selected{%endif%} label="Pakistani rupee">PKR
                        </option>

                        <option value="QAR" {% if counter  == "QAR" %}selected{%endif%} label="Qatari riyal">QAR
                        </option>
                        <option value="RON" {% if counter  == "RON" %}selected{%endif%} label="Romanian leu">RON
                        </option>
                        <option value="RON" {% if counter  == "RON" %}selected{%endif%} label="Romanian leu">RON
                        </option>
                        <option value="RSD" {% if counter  == "RSD" %}selected{%endif%} label="Serbian dinar">RSD
                        </option>
                        <option value="RUB" {% if counter  == "RUB" %}selected{%endif%} label="Russian ruble">RUB
                        </option>

                        <option value="SGD" {% if counter  == "SGD" %}selected{%endif%} label="Singapore dollar">SGD
                        </option>

                        <option value="SYP" {% if counter  == "SYP" %}selected{%endif%} label="Syrian pound">SYP
                        </option>

                        <option value="TMT" {% if counter  == "TMT" %}selected{%endif%} label="Turkmenistan manat">
                            TMT
                        </option>

                        <option value="TRY" {% if counter  == "TRY" %}selected{%endif%} label="Turkish lira">TRY
                        </option>
                        <option value="TTD" {% if counter  == "TTD" %}selected{%endif%}
                            label="Trinidad and Tobago dollar">TTD</option>
                        <option value="TVD" {% if counter  == "TVD" %}selected{%endif%} label="Tuvaluan dollar">TVD
                        </option>
                        <option value="TWD" {% if counter  == "TWD" %}selected{%endif%} label="New Taiwan dollar">
                            TWD
                        </option>
                        <option value="TZS" {% if counter  == "TZS" %}selected{%endif%} label="Tanzanian shilling">
                            TZS
                        </option>
                        <option value="UAH" {% if counter  == "UAH" %}selected{%endif%} label="Ukrainian hryvnia">
                            UAH
                        </option>
                        <option value="UGX" {% if counter  == "UGX" %}selected{%endif%} label="Ugandan shilling">UGX
                        </option>
                        <option value="UYU" {% if counter  == "UYU" %}selected{%endif%} label="Uruguayan peso">UYU
                        </option>
                        <option value="UZS" {% if counter  == "UZS" %}selected{%endif%} label="Uzbekistani soʻm">UZS
                        </option>
                        <option value="VES" {% if counter  == "VES" %}selected{%endif%}
                            label="Venezuelan bolívar soberano">VES</option>
                        <option value="VND" {% if counter  == "VND" %}selected{%endif%} label="Vietnamese đồng">VND
                        </option>
                        <option value="VUV" {% if counter  == "VUV" %}selected{%endif%} label="Vanuatu vatu">VUV
                        </option>
                        <option value="WST" {% if counter  == "WST" %}selected{%endif%} label="Samoan tālā">WST
                        </option>
                        <option value="XAF" {% if counter  == "XAF" %}selected{%endif%}
                            label="Central African CFA franc">XAF</option>
                        <option value="XCD" {% if counter  == "XCD" %}selected{%endif%}
                            label="Eastern Caribbean dollar">XCD</option>
                        <option value="XOF" {% if counter  == "XOF" %}selected{%endif%}
                            label="West African CFA franc">
                            XOF</option>
                        <option value="XPF" {% if counter  == "XPF" %}selected{%endif%} label="CFP franc">XPF
                        </option>
                        <option value="ZAR" {% if counter  == "ZAR" %}selected{%endif%} label="South African rand">
                            ZAR
                        </option>
                        <option value="ZMW" {% if counter  == "ZMW" %}selected{%endif%} label="Zambian kwacha">ZMW
                        </option>
                        <option value="ZWB" {% if counter  == "ZWB" %}selected{%endif%} label="Zimbabwean bonds">ZWB
                        </option>
                    </select>
                    </div>
                </div>
                <div class="col-xl-2 col-md-2 col-lg-2 col-sm-12 align-center">
                    <div id="submitBtndiv">

                        <button type="submit" name="submit" id="submitBtn" class="btn btn-primary convert-btn"
                            >CONVERT</button>
                    </div>
                </div>
            </div>
        </form>

        <!-- {% if flag == "show"%} -->

        <div id="expanded" >
            <h1 class="green-text mb-0"> Amount = {{totalAmount}} </h1>
            <h2 class="grey-text mb-0"> 1 {{base}} = {{counterrate}} {{counter}}</h2>
            <h2 class="grey-text mb-16"> 1 {{counter}} = {{baserate}} {{base}}</h2>
            <h3 class="grey-normal mb-0"> Last Updated on : {{lastUpd}} UTC</h3>
        </div>
        <!-- {% endif %} -->
    </div>


    <br>
    <!-- {% if flag == "show"%} -->
    <div class="container-fluid bg-3 text-center" style="display:''; ">
        <div class="row mrt-40">
            <div class="col-md-6 col-sm-12 btn-align-right">

                <a class="btn btn-outline-primary mob-btn" href="{% url 'charts' %}" role="button">Get Chart
                    Analysis</a>
            </div>
            <div class="col-md-6 col-sm-12 btn-align-left">
                <a class="btn btn-outline-primary  mob-btn" href="{% url 'market' %}" role="button">Get Market Hours</a>
            </div>

        </div>
    </div>
    <br>
    <br>
    <!-- {% endif %} -->
    <footer class="container-fluid text-center">
        <!-- Table Starts -->
        <!-- {% if flag == "show" %}
        {%else%} -->
        <div class="" style="display: 'none';">
            <div align="right">
                <form method="POST" name="form1"> {%csrf_token%}
                    <td colspan="11">

                        <select name="Region" onchange="form1.submit()">
                            <option disabled selected>Choose Region</option>
                            <option value="Asia" label="Asia"> Asia </option>
                            <option value="US" label="US"> US </option>
                            <option value="Europe" label="Europe"> Europe </option>
                        </select>


                        <a class="btn btn-primary" href="/" role="button">Reset</a>
                    </td>
                </form>
            </div>
            <table class="table  table-striped" id="table1" style="width: 100%;">
                <thead>
                    <tr class="tabelhead">

                        <th class="col">Name</th>
                        <th class="col">Region</th>
                        <th class="col">Rating</th>
                        <th class="col">Benefits</th>

                    </tr>
                </thead>
                <tbody>
                    {% for t in trader %}
                    <tr>

                        <td>{{t.Name}}</td>
                        <td>{{t.Region}}</td>

                        <td>{{t.Rating}}</td>
                        <td>{{t.Benefits}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- {% endif %} -->
        <!-- Table Ends-->


        <!-- Comparision Table starts -->
        <!-- {% if flag == "show"%} -->
        <div class="" style="display: '';">
            <form method="POST" action="CompareTraders" name="form2"> {%csrf_token%}
                <table class="table table-striped" id="table2" style="width: 100%;">
                    <thead>


                        <tr class="tabelhead">
                            <!-- <th class="col">ID</th> -->
                            <th class="col">Name</th>
                            <th class="col">Region</th>
                            <th class="col">Minimum Deposit</th>
                            <th class="col">Bank Transfer</th>
                            <th class="col">Withdrawl Fee</th>
                            <th class="col">Rating</th>
                            <th class="col">Benefit</th>
                            <th class="col">Accounts</th>
                            <th class="col">Rates</th>
                            <th class="col">Compare</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for t in trader %}

                        <tr>
                            <!-- <td>{{t.id}}</td> -->
                            <td>{{t.Name}}</td>
                            <td>{{t.Region}}</td>
                            <td>{{t.Minimum_Deposit}}</td>
                            <td>{{t.Bank_Transfer}}</td>
                            <td>{{t.Withdrawl_Fee}}</td>
                            <td>{{t.Rating}}</td>
                            <td>{{t.Benefits}}</td>
                            <td>{{t.Accounts}}</td>

                            <td>{{t.spread}}</td> <!-- will have to passs the var used to take curr value -->

                            <td><input type="checkbox" name="check[]" id={{t.id}} value={{t.id}} /></td>

                        </tr>
                        {% endfor %}



                    </tbody>
                    <!-- <tfoot>
                        <tr>
                            <td colspan="9"></td>
                            <td colspan="2" align="right">
                                <button type="submit" class="btn btn-success" name="compare"
                                    value="compare">compare</button>
                            </td>


                        </tr>
                    </tfoot>-->
                </table>
                <div class="d-flex justify-content-end" style="margin-top: 15px;">
                    <button type="submit" class="btn btn-success" name="compare"
                    value="compare">Compare</button>
                </div>
            </form>
        </div>
        <!-- {% endif %} -->
        <!-- Comparision Table ends -->
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>
</body>
<script>
    document.getElementById("switch").onclick = function () {
        var drop1 = document.getElementById("currencyListBase");
        var drop2 = document.getElementById("currencyListCounter");
        var tempHTML = drop1.innerHTML;
        drop1.innerHTML = drop2.innerHTML;
        drop2.innerHTML = tempHTML;

    }
    /*$('input[name="amount"]').keyup(function () {

        if ($(this).val()) {
            $("#submitBtn").removeAttr('disabled');

        } else {
            $("#submitBtn").attr('disabled', 'disabled');
        }
    });*/
    var myDiv = document.getElementById("expanded");
    $('#submitBtn').click(function () {
        $('#submitBtn').html('<div class="spinner-border spinner-border-sm" role="status" ></div>');
        setTimeout(hide, 1000);
    });
    hide = function () {

        $('#submitBtn').html('<div class="spinner-border" style="display:none" role="status" aria-hidden="true"></div>CONVERT').removeAttr('disabled');
        // myDiv.style.display = "block";
        // $("#expanded").style.display = "block";
        document.getElementById("expanded").style.display = "block";

    };
 /*   $('#submitBtn').click(function () {
        $('#submitBtn').html('<div class="spinner-border spinner-border-sm" role="status" ></div>');
        setTimeout(hide, 1000);
    });
    hide = function () {

        $('#submitBtn').html('<div class="spinner-border" style="display:none" role="status" aria-hidden="true"></div>RECONVERT').removeAttr('disabled');
        // myDiv.style.display = "block";
        // $("#expanded").style.display = "block";
        document.getElementById("expanded").style.display = "block";
    };*/

    $(document).ready(function () {
        /* $('#table1').DataTable({

            responsive: true,
            language: {
                //customize pagination prev and next buttons: use arrows instead of words
                'paginate': {
                    'previous': '<span class="fa fa-chevron-left"></span>',
                    'next': '<span class="fa fa-chevron-right"></span>'
                },

            }
        })*/

        $('#table1').DataTable({
            "columnDefs": [
                { "width": "20%", "targets": 0 },
                { "width": "20%", "targets": 1 },
                { "width": "20%", "targets": 2 },
                { "width": "40%", "targets": 3 }
            ],
            responsive: true,
            language: {
                //customize pagination prev and next buttons: use arrows instead of words
                'paginate': {
                    'previous': '<span class="fa fa-chevron-left"></span>',
                    'next': '<span class="fa fa-chevron-right"></span>'
                },

            }
        })

        $('#table2').DataTable({
            "columnDefs": [
            { "width": "10%", "targets": 0},
        ],
            responsive: true,
            language: {
                //customize pagination prev and next buttons: use arrows instead of words
                'paginate': {
                    'previous': '<span class="fa fa-chevron-left"></span>',
                    'next': '<span class="fa fa-chevron-right"></span>'
                },

            }
        })
    });

</script>

</html>