{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chart Analysis</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
</head>

<body>
    <!-- <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Forex Vision</a>
            </div>
        </div>
    </nav> -->
    <div>
        <img alt="logo" src="{% static 'logo.svg' %}" class="shrinklogo">

    </div>
    <div style="padding : 10px 10px 10px 10px;">
        <h1 class="desc">From  {{base}}  To  {{counter}} Chart Analysis</h1>
        <H3 style="color: #fff;"> Last 30 days High of {{counter}} : {{D_High}} </H3>
        <H3 style="color: #fff;"> Last 30 days Low of {{counter}}: {{D_Low}} </H3><br>
        <div>
            <h1 id="chart_heading" class="desc"> Daily Analysis </h1>
           <div style="display: flex;">
               <div>
                <div id="D_div" style="width: 50%;">
                    {{D_fig | safe}}<br>
                </div>
                <div id="W_div" style="display : none; width : 50%;">
                    {{W_fig | safe}}<br>
                </div>
                <div id="M_div" style="display : none; width : 50%;">
                    {{M_fig | safe}}<br>
                </div>
               </div>
               <div>
                   <ul>
                    <H3 style="color: #fff;">
                   <li> Daily analysis shows the daily rates of currencies for the past one year. </li> <br><br>

                   <li> Week analysis :
                    Data plotted shows 52 week points on X axis aganist the Y axis which shows the counter currency rates. </li><br><br>

                  <li> Monthly analysis :
                    Data plotted shows 12 month points on X axis aganist the Y axis which shows the counter currency rates. </li>

                    </H3>
                </ul>
               </div>
           </div>

        </div>
        <button type="button" id="weekly" class="chartbtn" onclick="myFunction();"> Show Weekly Analysis</button>
        <button type="button" id="monthly"  class="chartbtn" onclick=" myFunction();"> Show Monthly Analysis</button>
        <button type="button" id="daily"   class="chartbtn"onclick="myFunction();"> Show Daily Analysis</button>

    </div>
</body>
<script>
    function myFunction() {
        var id = event.target.id

        var ch_head = document.getElementById("chart_heading");
        var x = document.getElementById("D_div");
        var y = document.getElementById("W_div");
        var z = document.getElementById("M_div");
        if (id == "weekly") {
            ch_head.innerHTML = "Weekly Analysis";
            y.style.display = "block";
            x.style.display = "none";
            z.style.display = "none";
        }
        else if (id == "monthly") {
            ch_head.innerHTML = "Monthly Analysis";
            y.style.display = "none";
            x.style.display = "none";
            z.style.display = "block";
        }
        else {
            ch_head.innerHTML = "Daily Analysis";
            y.style.display = "none";
            x.style.display = "block";
            z.style.display = "none";
        }
    }
</script>

</html>