<!DOCTYPE html>
<html lang="en">
<head>
  <title>Forex Market Hours</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<br><br>

<table class="table table-striped">
    <thead>
      <tr>
          <th>Country Name</th>
         <th>Open Time</th>
         <th>Close Time</th>
         <th>Status</th>
		</tr>
    </thead>
    <tbody>
	{% for f in forexs %}
      <tr>
        <td>{{f.country_name}}</td>
        <td>{{f.open_time}}</td>
        <td>{{f.close_time}}</td>
  
        {% for key, value in countryTZDict.items %}
       
        {% if key == f.country_name %}
        
        <td>{{value}}</td>
        
        {% endif %}
        {% endfor %}
		</tr>
	  {% endfor %}
	</tbody>
</table>
{{checkl}}

</form>
</div>
</body>
</html>